body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.color-box {
  margin-top: 2rem;
  width: 15rem;
  height: 15rem;
  background-color: rgb(125, 125, 125);
}
input[type='range'].slider {
  width: 100%;
  margin: 6px 0;
  padding: 1rem;
}
input[type='range'].slider:focus {
  outline: none;
}
input.txt {
  border-color: #cccccc;
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  border-style: solid;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.97);
  border-width: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  background-color: #e8e8e8;
}
input.txt:focus {
  outline: none;
}
